<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">検索</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= search_form_for q || Post.ransack do |f| %>
          <div class="mb-3 form-outline">
            <%= f.search_field :body_cont, class: 'form-control' %>
            <%= f.label :body_cont, '投稿の本文', class: 'form-label' %>
          </div>
          <div class="mb-3 form-outline">
            <%= f.search_field :comments_body_cont, class: 'form-control' %>
            <%= f.label :comments_body_cont, 'コメント', class: 'form-label' %>
          </div>
          <div class="mb-3 form-outline">
            <%= f.search_field :user_username_cont, class: 'form-control' %>
            <%= f.label :user_username_cont, 'ユーザー名', class: 'form-label' %>
          </div>
          <div class="text-center">
            <%= f.submit '検索', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
