<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_with model: @user, url: mypage_account_path do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <div class="d-flex align-items-center gap-3">
          <%= image_tag @user.decorate.avatar_url(:lg),
                        class: 'rounded-circle object-fit-cover',
                        size: '100x100',
                        alt: @user.username %>
          <%= @user.username %>
          <%= f.file_field :avatar, accept: 'image/*' %>
        </div>
        <hr>
        <div class="mb-4">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="mb-4">
          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
        </div>

        <div class="text-center">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
