<div id="<%= dom_id(post) %>" class="card mb-5 post-item mx-auto">
  <%= render 'carousel_images', post: %>
  <div class="card-body">
    <p class="card-text"><%= post.body.truncate(50) %></p>
    <% if logged_in? %>
      <div class="d-flex justify-content-end mb-1">
        <%= render 'posts/likes/likes', post: %>
      </div>
    <% end %>
    <div class="d-flex justify-content-end">
      <span class="text-muted small"><%= l post.created_at, format: :long %></span>
    </div>
  </div>
  <div class="card-footer">

    <div class="d-flex align-items-center gap-3">
      <%= image_tag post.user.decorate.avatar_url(:thumb),
                    class: 'rounded-circle', alt: post.user.username, height: '48' %>
      <span><%= post.user.username %></span>
    </div>
  </div>
</div>
