<div id="<%= dom_id(post) %>" class="card mb-5 post-item">
  <%= render 'carousel_images', post: %>
  <div class="card-body">
    <p class="card-text"><%= post.body.truncate(50) %></p>
    <div class="d-flex justify-content-end mb-1">
      <i class="far fa-heart"></i>
    </div>
    <div class="d-flex justify-content-end">
      <span class="text-muted small"><%= l post.created_at, format: :long %></span>
    </div>
  </div>
  <div class="card-footer">

    <div class="d-flex align-items-center gap-3">
      <%= image_tag 'http://placehold.jp/40x40.png',
                    class: 'rounded-circle',
                    width: 40,
                    height: 40 %>
      <span><%= post.user.username %></span>
    </div>
  </div>
</div>
