<!-- Navbar -->
<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <%= link_to root_path, class: 'navbar-brand me-2' do %>
      <%= image_tag 'logo.png', height: 30 %>
    <% end %>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to '投稿一覧', posts_path, class: 'nav-link' %>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <% unless logged_in? %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-link px-3 me-2' %>
          <%= link_to 'サインアップ', signup_path, class: 'btn btn-primary me-3' %>
        <% end %>

        <% if logged_in? %>
          <%= link_to new_post_path, class: 'btn btn-primary btn-sm me-3' do %>
            <i class="fas fa-camera me-2"></i>
            投稿
          <% end %>
          <!-- Avatar -->
          <div id="header-avatar-dropdown" class="dropdown">
            <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              id="navbarDropdownMenuAvatar"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false">
              <img
                src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                class="rounded-circle"
                height="25"
                alt="Black and White Portrait of a Man"
                loading="lazy">
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <%= link_to 'ログアウト',
                            logout_path,
                            class: 'dropdown-item',
                            data: { turbo_method: :delete, turbo_confirm: 'ログアウトします' } %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
